body {
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
table {
    margin: auto;
    background-color: black;
    position: relative;
    width: 500px;
    height: 500px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}
table tr td {
    margin: 5px 0;
    display: inline-block;
}
input {
    outline: 0;
    position: relative;
    border: 0;
    top: 0;
    color: #0d6efd;
    background-color:#fff;
    border-radius: 4px;
    width: 98px;
    height: 60px;
    margin: 5px;
    font-size: 40px;
    transition: all 0.2s ease-in-out 0s;
}
#display {
    width: 97%;
    font-size: 60px;
    text-align: right;
    background-color:#F1FAEB;
    float: left;
    height: 120px;
}
